/* h1{ background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 90px;
    word-spacing: 3px;
    letter-spacing: 10px;
    text-indent: 30px;
    border-color: blue;

}
h2{background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 90px;
    word-spacing: 3px;
    letter-spacing: 10px;
    text-indent: 30px;
    border-color: blue;


}
h3{background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 90px;
    word-spacing: 3px;
    letter-spacing: 10px;
    text-indent: 30px;
    border-color: blue;


} */

